<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Add Game</title>
</head>
<body align="center" class="wholebody">
    <nav class="topbar">
        <div class="logo">
            <img style=" height: 3vw; line-height: 4vw;" src="/image/Logo (2).png"/>
        </div>
        <div class="menu boxhead">
            <form action="/" method="GET">
                <input style="font-size: 0.9vw; line-height: 1.8vw;" type="text" placeholder=" search game name" name="title">
            <a class="menu_items" href= "/"><span>MENU</span></a>
            <% if (session.user.role === 'admin') {%> 
            <a class="menu_items" href= "/admin"><span>addGame</span></a>
            <% }%>
            <a class="menu_items" href= "/<%= session.user.name%>/editProfile"><span>profile</span></a>
            <a class="menu_items" href= "/logout"><span>logout</span></a>

        </form>
        </div>
    </nav>
    <div style="margin-top: 10%; margin-bottom: 7%; color: white;">
        <div class="gamePageDiv">
            <p style="font-size: 2vw">Edit Profile</p>
            <% if (session.user.role === 'admin') {%>
                <p style="font-size: 2.5vw">Welcome, Admin <%= session.user.name %></p>
            <% } else {%>
                <p style="font-size: 3vw">Welcome, <%= session.user.name %></p>
            <% } %>
            <br>    
            <form action="/<%= session.user.name %>/editProfile" method="POST">
                <label>Email :</label><br>
                <input style="font-size: 1vw; line-height: 2vw;" type="text" name="email" value="<%= showForEdit.email %>"><br><br>
                <label>Password</label><br>
                <input style="font-size: 1vw; line-height: 2vw;" type="text" name="password" value="<%= showForEdit.password %>"><br><br>
                <input type="submit" value="update">
            </form>
        </div>
    </body>
</html>